@using AdminWeb.Dtos.ApiResponse;
@using AdminWeb.Models
@using AdminWeb.Areas.Category.Controllers

<div class="container-fluid p-0">
    <h1 class="h4 mb-3 form-title"><strong>Quản lý cấu hình SMTP</strong></h1>
    <div class="row">
        <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
            <div class="card flex-fill w-100 form-control-ui">
                <div class="card-header">
                    <h5 class="card-title mb-0">Tìm kiếm</h5>
                    <button class="btn btn-purple-invert btn-filter" type="submit" onclick="onAddNewSmtpConfigClicked()"><span class="glyphicon glyphicon-plus"></span> Thêm mới</button>
                </div>
                <div class="card-body py-3">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                @(Html.DevExtreme().TextBox()
                                    .Label("Mã nhóm").LabelMode(EditorLabelMode.Floating)
                                    .MaxLength(50).ShowClearButton(true))
                            </div>
                        </div>                       
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                @(Html.DevExtreme().DateBox()
                                    .Label("Hiệu lực từ ngày").LabelMode(EditorLabelMode.Floating).ShowClearButton(true))
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                @(Html.DevExtreme().DateBox()
                                    .Label("Hiệu lực đến ngày").LabelMode(EditorLabelMode.Floating).ShowClearButton(true))
                            </div>
                        </div>
                    </div>
                    <div class="row button-search-row">
                        <div class="col-md-12">
                            <button class="btn btn-purple-style" type="submit">Xóa</button>
                            <button class="btn btn-purple-style" type="submit">Tìm kiếm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
            <div class="card flex-fill w-100 form-control-ui">
                <div class="card-body py-3">
                    @(Html.DevExtreme().DataGrid()
                        .ID("gridSmtpConfigList")
                        .DataSource(d => d.WebApi()
                        .Area("Admin")
                        .Controller("SmtpConfig")
                        .LoadAction("GetSmtpConfigList")
                        .Key("SmtpConfigId")
                        )
                        .ShowBorders(true)
                        .Selection(s => s.Mode(SelectionMode.Single))
                        .Export(e => e.Enabled(true).AllowExportSelectedData(false)).OnExporting("exportingGridSmtpConfig")
                        .Columns(columns =>
                        {
                            columns.Add().Caption("").Width(70).CellTemplate(@<text>
                                <span class="glyphicon glyphicon-edit icon-grid" onclick="onEditSmtpConfigClicked()"></span>
                                <span class="glyphicon glyphicon-trash icon-grid" onclick="onDateleSmtpConfigClicked()"></span>
                            </text>);
                            columns.Add().DataField(nameof(SmtpConfigResponseModel.SmtpConfigId)).Caption("ID cấu hình").Visible(false);
                            columns.Add().DataField(nameof(SmtpConfigResponseModel.GroupCode)).Caption("Mã nhóm");
                            columns.Add().DataField(nameof(SmtpConfigResponseModel.NetworkCredentialUsername)).Caption("Tên người dùng mạng");
                            columns.Add().DataField(nameof(SmtpConfigResponseModel.FromAddress)).Caption("Địa chỉ gửi");
                            columns.Add().DataField(nameof(SmtpConfigResponseModel.FromDisplayName)).Caption("Tên người gửi");
                            columns.Add().DataField(nameof(SmtpConfigResponseModel.SmtpClientPort)).Caption("Cổng máy SMTP");
                            columns.Add().DataField(nameof(SmtpConfigResponseModel.SmtpClientHost)).Caption("Máy chủ SMTP");
                            columns.Add().DataField(nameof(SmtpConfigResponseModel.ListMailTo)).Caption("Danh sách Mail To");
                            columns.Add().DataField(nameof(SmtpConfigResponseModel.ListMailCC)).Caption("Danh sách Mail CC");
                            columns.Add().DataField(nameof(SmtpConfigResponseModel.ListMailBCC)).Caption("Danh sách Mail BCC");
                            columns.Add().DataField(nameof(SmtpConfigResponseModel.Creator)).Caption("Người tạo");
                            columns.Add().DataField(nameof(SmtpConfigResponseModel.CreationDate)).Caption("Ngày tạo")
                                                        .DataType(GridColumnDataType.DateTime).Format("dd/MM/yyyy  HH:mm")
                                                        .Alignment(HorizontalAlignment.Center).Width(150);
                            columns.Add().DataField(nameof(SmtpConfigResponseModel.EffectDate)).Caption("Ngày hiệu lực")
                            .DataType(GridColumnDataType.DateTime).Format("dd/MM/yyyy  HH:mm")
                            .Alignment(HorizontalAlignment.Center).Width(150);
                            columns.Add().DataField(nameof(SmtpConfigResponseModel.EnableSSL)).Caption("Kích hoạt SSL").DataType(GridColumnDataType.Boolean);
                            columns.Add().DataField(nameof(SmtpConfigResponseModel.UseDefaultCredentials)).Caption("Sử dụng thông tin xác thực mặc định");
                            columns.Add().DataField(nameof(SmtpConfigResponseModel.Active)).Caption("Hoạt động").DataType(GridColumnDataType.Boolean);
                        })
                        .ColumnHidingEnabled(false)
                        .AllowColumnResizing(true)
                        .ColumnAutoWidth(true)
                        .ColumnMinWidth(50)
                        .ShowRowLines(true)
                        .FilterRow(f => f.Visible(true))
                        .HeaderFilter(f => f.Visible(false))
                        .GroupPanel(p => p.Visible(false))
                        .Grouping(g => g.AutoExpandAll(false))
                        .RemoteOperations(false)
                        .Paging(paging => paging.PageSize(10))
                        .Pager(pager =>
                        {
                            pager.ShowPageSizeSelector(true);
                            pager.AllowedPageSizes(new[] { 5, 10, 20 });
                            pager.ShowInfo(true);
                        })
                        )
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("CreateOrUpdate")

<script>
    function onAddNewSmtpConfigClicked() {

        var modal = document.getElementById("popupSmtpConfig");
        modal.classList.add("show", "in");
        modal.style.display = "block";
    }

    function onEditSmtpConfigClicked() {

        var modal = document.getElementById("popupSmtpConfig");
        modal.classList.add("show", "in");
        modal.style.display = "block";
    }

    function onDateleSmtpConfigClicked() {
        var myDialog = confirmDialog("Bạn có muốn xóa dữ liệu?", "", "Có", "Không");
        myDialog.show().done(function (dialogResult) {
            if (dialogResult.buttonText === "Có") {
                notify("Xóa dữ liệu thành công", "success");
            }
        });
    }

    function exportingGridSmtpConfig(e) {
        var workbook = new ExcelJS.Workbook();
        var worksheet = workbook.addWorksheet('SmtpConfig');

        DevExpress.excelExporter.exportDataGrid({
            component: e.component,
            worksheet: worksheet,
            autoFilterEnabled: true
        }).then(function () {
            workbook.xlsx.writeBuffer().then(function (buffer) {
                saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'SmtpConfigList.xlsx');
            });
        });
        e.cancel = true;
    }
</script>

