@using AdminWeb.Dtos.ApiResponse;
@using AdminWeb.Models
@using AdminWeb.Areas.Category.Controllers
@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<MapCriPositionController> HtmlLocalizer

@{
    var confirmDeleteMessage = String.Format(@HtmlLocalizer["ConfirmDeleteMessage"].Value);
    var confirmDeleteTitle = String.Format(@HtmlLocalizer["ConfirmDeleteTitle"].Value);
}

<div class="container-fluid p-0">
    <h1 class="h4 mb-3 form-title"><strong>Thiết lập tiêu chí đánh giá theo vị trí</strong></h1>
    <div class="row">
        <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
            <div class="card flex-fill w-100 form-control-ui">
                <div class="card-header">
                    <h5 style="margin-top: 0" class="card-title mb-0">Tìm kiếm</h5>
                </div>
                <div class="card-body py-3">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="form-group">
                                @(Html.DevExtreme().SelectBox()
                                    .ID("Position")
                                    .DataSource(d => d.WebApi().Area("Category").Controller("MapCriPosition").LoadAction("GetPositionList"))
                                    .DisplayExpr("PositionName")
                                    .ValueExpr("PositionId")
                                    .Placeholder("Chọn")
                                    .SearchEnabled(true).Label("Chọn vị trí").LabelMode(EditorLabelMode.Floating)
                                    .ShowClearButton(true)
                                    )
                            </div>
                        </div>
                    </div>
                    <div class="row button-search-row">
                        <div class="col-md-12" style="text-align: end;">
                            <button class="btn btn-purple-style" type="submit" onclick="onSaveClicked()">Lưu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
            <div class="card flex-fill w-100 form-control-ui">
                <div class="card-body py-3">
                    @(Html.DevExtreme().DataGrid()
                            .ID("gridDataList")
                            .DataSource(d => d.WebApi()
                            .Area("Category")
                        .Controller("MapCriPosition")
                            .LoadAction("GetDataTableList")
                        .Key("CriteriaId")
                            )
                            .ShowBorders(true)
                            .Selection(s => s.Mode(SelectionMode.Single))
                            .Export(e => e.Enabled(true).AllowExportSelectedData(false)).OnExporting("exportingGrid")
                            .Columns(columns =>
                            {
                            columns.Add().DataField(nameof(CriteriasResponseModel.CriteriaId)).Visible(false);
                            columns.Add().DataField(nameof(CriteriasResponseModel.CriteriaContent)).Caption("Tiêu chí đánh giá");
                            columns.Add().DataField(nameof(CriteriasResponseModel.CriteriaType)).Caption("Loại");
                           
                            columns.Add().DataField(nameof(CriteriasResponseModel.IsActive)).Caption("Sử dụng").DataType(GridColumnDataType.Boolean).Alignment(HorizontalAlignment.Center).Width(150);
                            columns.Add().DataField(nameof(CriteriasResponseModel.CreationDate)).Caption("Ngày tạo").DataType(GridColumnDataType.DateTime).Format("dd/MM/yyyy  HH:mm").Alignment(HorizontalAlignment.Center).Width(150);
                            columns.Add().DataField(nameof(CriteriasResponseModel.LastUpdatedDate)).Caption("Ngày cập nhật").DataType(GridColumnDataType.DateTime).Format("dd/MM/yyyy  HH:mm").Alignment(HorizontalAlignment.Center).Width(150);
                            })
                        .ColumnHidingEnabled(true)
                        .AllowColumnResizing(true)
                        .ColumnAutoWidth(true)
                        .ColumnMinWidth(50)
                        .ShowRowLines(true)
                        .FilterRow(f => f.Visible(true))
                        .HeaderFilter(f => f.Visible(false))
                        .GroupPanel(p => p.Visible(false))
                        .Grouping(g => g.AutoExpandAll(false))
                        .RemoteOperations(false)
                        .Paging(paging => paging.PageSize(10))
                        .Pager(pager =>
                        {
                            pager.ShowPageSizeSelector(true);
                            pager.AllowedPageSizes(new[] { 5, 10, 20 });
                            pager.ShowInfo(true);
                        })
                        .Selection(s => s.Mode(SelectionMode.Multiple))
                        .SelectedRowKeys(@Model?.RoleIDs)
                        )
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function onAddNewClicked() {
        
        var modal = document.getElementById("popupCreateUpdate");
        modal.classList.add("show", "in");
        modal.style.display = "block";
    }

    function onEditClicked() {

        var modal = document.getElementById("popupCreateUpdate");
        modal.classList.add("show", "in");
        modal.style.display = "block";
    }
    
    function onDateleClicked() {
        var myDialog = confirmDialog("Bạn có muốn xóa dữ liệu?", "", "Có", "Không");
        myDialog.show().done(function (dialogResult) {
            if (dialogResult.buttonText === "Có") {
                notify("Xóa dữ liệu thành công", "success");
            }
        });
    }

    function exportingGrid(e) {
        var workbook = new ExcelJS.Workbook();
        var worksheet = workbook.addWorksheet('MapCriPosition');

        DevExpress.excelExporter.exportDataGrid({
            component: e.component,
            worksheet: worksheet,
            autoFilterEnabled: true
        }).then(function () {
            workbook.xlsx.writeBuffer().then(function (buffer) {
                saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'MapCriPositionList.xlsx');
            });
        });
        e.cancel = true;
    }

    function onSaveClicked() {
        var myDialog = confirmDialog("Bạn có muốn lưu dữ liệu?", "", "Có", "Không");
        myDialog.show().done(function (dialogResult) {
            if (dialogResult.buttonText === "Có") {
                notify("Lưu dữ liệu thành công", "success");
            }
        });
    }
</script>

