<div class="modal fade" id="popupFinancialAnswers" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" style="background: #00000080;">
    <div class="modal-dialog modal-md" style="max-height:90%; margin-top: 100px;">
        <div class="modal-content" style="max-height: 90%; overflow-y: auto;">
            <div class="modal-header">
                <h1 class="h4 mb-3 form-title"><strong>Thêm câu trả lời tài chính</strong></h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-12 col-xl-12">
                        <div class="form-group">
                            @(Html.DevExtreme().SelectBox().ElementAttr("class", "required-validation")
                                .DataSource(d => d.WebApi().Area("Category").Controller("FinancialQuestion").LoadAction("GetFinancialQuestionList"))
                                .DisplayExpr("QuestionName")
                                .ValueExpr("QuestionCode")
                                .Placeholder("Câu hỏi")
                                .SearchEnabled(true).Label("Câu hỏi").LabelMode(EditorLabelMode.Floating)
                                .ShowClearButton(true)
                                )
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox().ElementAttr("class", "required-validation")
                                .Label("Mã câu trả lời").Value("HVCC_AS05").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(50))
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            @(Html.DevExtreme().CheckBox().Value(true).IconSize(18).ElementAttr("aria-label", "Custom size")
                                .Text("Sử dụng")
                                )
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSaveFinancialAnswers" onclick="onButtonSaveFinancialAnswersClicked()" type="button" class="btn btn-purple-style">Lưu</button>
                <button id="btnCloseFinancialAnswers" onclick="onButtonCloseFinancialAnswersClicked()" type="button" class="btn btn-purple-style">Thoát</button>
            </div>
        </div>
    </div>
</div>

<script>

    function onButtonSaveFinancialAnswersClicked() {
        var modal = document.getElementById("popupFinancialAnswers");
        modal.classList.remove("show", "in");
        modal.style.display = "none";

        notify("Cập nhật dữ liệu thành công", "success");
    }

    function onButtonCloseFinancialAnswersClicked() {
        var modal = document.getElementById("popupFinancialAnswers");
        modal.classList.remove("show", "in");
        modal.style.display = "none";
    }

</script>