<div class="row">
    <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
        <div class="card card-body form-control-ui">
            <div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox()
                                .ElementAttr("class", "required-validation")
                                .Label("Nhóm người dùng").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(50).ShowClearButton(true)
                                .Value("DS")
                                .ReadOnly(true)
                                )
                        </div>
                    </div>       
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox()
                                .ElementAttr("class", "required-validation")
                                .Label("Tên nhóm người dùng").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(50).ShowClearButton(true)
                                .Value("DefaultSystem")
                                )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

